<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Atlantic</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Expack</h1>
    <canvas id="bgCanvas"></canvas>
</body>
</html>